<%- include('../includes/Head.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="bg-gray-50 py-10">
    <div class="container mx-auto px-4">
      <div class="space-y-8">
        <div>
          <h2 class="text-2xl font-semibold">Ma Page</h2>
        </div>
        <%- include('../includes/my-account.ejs') %>
        <%- include('../includes/my-shipment-details.ejs') %>
        <%- include('../includes/my-orders.ejs') %>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
